<ng-container *ngIf="{ calendarData: calendarData$ | async } as vm">
  <h1>
    F1 Calendar <span>{{ vm.calendarData?.season }}</span>
  </h1>

  <table
    mat-table
    [dataSource]="vm.calendarData?.dataSource ?? []"
    multiTemplateDataRows
  >
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of displayedColumns"
    >
      <td mat-cell *matCellDef="let race" [title]="column | titlecase">
        {{ race[column] }}
      </td>
    </ng-container>

    <ng-container [matColumnDef]="columns.expand">
      <td mat-cell *matCellDef="let race">
        <button
          mat-icon-button
          aria-label="expand/collapse row"
          (click)="toggleRow(race); $event.stopPropagation()"
        >
          <mat-icon *ngIf="expandedRace !== race">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedRace === race">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let race"
        [attr.colspan]="displayedColumnsWithExpand.length"
      >
        <div [@detailExpand]="race === expandedRace ? 'expanded' : 'collapsed'">
          <div class="race-detail">
            Qualification: {{ race[columns.qualificationDate] }}
            {{ race[columns.qualificationTime] }}
          </div>
        </div>
      </td>
    </ng-container>

    <tr
      mat-row
      *matRowDef="let race; columns: displayedColumnsWithExpand"
      (click)="toggleRow(race)"
      [ngClass]="{ highlight: race[columns.isNext] }"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="detail-row"
    ></tr>
  </table>
</ng-container>
